/JavaApplication35/nbproject/private/
/lab8/nbproject/private/
/lab08/nbproject/private/
/Lab08/nbproject/private/
/Lab08/build/
/Lab08_02/nbproject/private/
/Lab08_02/build/
/Lab08_03/nbproject/private/
/Lab08_03/build/
/Lab08_03/dist/
/Lab08_04/nbproject/private/
/Lab08_04/build/
/Lab08/Lab08_04/dist/
/Lab09/nbproject/private/
/Lab09/build/
/Lab09_01/nbproject/private/
/Lab09_02/nbproject/private/
/Lab09_02/build/
/Lab09_03/nbproject/private/
/Lab09_03/build/
/Midterm_Learning/Midterm/build/
/Midterm_Learning/Midterm/nbproject/private/
/Lab09/Lab09_01/build/
/Lab10_01/nbproject/private/
/Lab10_01/build/
/Lab10_01/dist/
/Lab10_02/nbproject/private/
/Lab10_02/build/
/Lab11_01/nbproject/private/
/Lab11_01/build/
/Lab11_01/dist/
/Lab11_02/nbproject/private/
/Lab11_02/build/
/Lab11/Lab11_01/build/
/Lab11/Lab11_01/dist/
/Lab11/Lab11_02/build/
/Lab11/Lab11_02/nbproject/private/
/Lab11/Lab11_01/nbproject/private/
/Lab12_01/nbproject/private/
/Lab12_01/build/
/Lab12_02/nbproject/private/
/Lab12_02/build/
/Lab12/Lab12_01/build/
/Lab12/Lab12_01/nbproject/private/
/Lab12/Lab12_02/build/
/Lab12/Lab12_02/nbproject/private/
/Lab13/Lab13_01/nbproject/private/
/Lab13/Lab13_01/build/
/Lab13/Lab13_02/nbproject/private/
/Lab13/Lab13_02/build/
/Lab13/Final08_01/nbproject/private/
/Lab13/Final08_01/build/
/Lab13/Final08_02/nbproject/private/
/Lab13/Final08_02/build/
/Lab13/Final11_01/nbproject/private/
/Lab13/Final11_01/build/
/Pre_Final/Final11_01/nbproject/private/
/Pre_Final/Final08_02/nbproject/private/
/Pre_Final/Final08_01/nbproject/private/
/Pre_Final/Final11_01/build/
/Pre_Final/Final12_01/nbproject/private/
/Pre_Final/Final12_01/build/
/Pre_Final/Poring/nbproject/private/
/Pre_Final/Poring/build/
/Pre_Final/Final08_03/nbproject/private/
/Pre_Final/Final08_03/build/
/Pre_Final/Final12_02/nbproject/private/
/Pre_Final/Final12_02/build/
/Pre_Final/Final13_01/nbproject/private/
/Pre_Final/Final13_01/build/
/Pre_Final/Final13_02/nbproject/private/
/Pre_Final/Final13_02/build/
