/JavaApplication35/nbproject/private/
/lab8/nbproject/private/
/lab08/nbproject/private/
/Lab08/nbproject/private/
/Lab08/build/
/Lab08_02/nbproject/private/
/Lab08_02/build/
/Lab08_03/nbproject/private/
/Lab08_03/build/
/Lab08_03/dist/
/Lab08_04/nbproject/private/
/Lab08_04/build/
/Lab08/Lab08_04/dist/
/Lab09/nbproject/private/
/Lab09/build/
/Lab09_01/nbproject/private/
/Lab09_02/nbproject/private/
/Lab09_02/build/
/Lab09_03/nbproject/private/
/Lab09_03/build/
/Midterm_Learning/Midterm/build/
/Midterm_Learning/Midterm/nbproject/private/
/Lab09/Lab09_01/build/
/Lab10_01/nbproject/private/
/Lab10_01/build/
/Lab10_01/dist/
/Lab10_02/nbproject/private/
/Lab10_02/build/
